In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import confusion_matrix
from word2number import w2n

In [2]:
data=pd.read_csv('Automobile_data.csv')

In [3]:
data

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [4]:
data['num-of-cylinders']=data['num-of-cylinders'].apply(w2n.word_to_num)

In [5]:
data.isna().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

In [6]:
score_mean=data['price'].mean()
score_mean

15387.0

In [7]:
import math 
score_mean=math.floor(score_mean)

In [8]:
score_mean

15387

In [9]:
data['price']=data['price'].fillna(score_mean)

In [10]:
le=LabelEncoder()

In [11]:
data['company']=le.fit_transform(data['company'])
data['body-style']=le.fit_transform(data['body-style'])
data['engine-type']=le.fit_transform(data['engine-type'])
data

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,0,0,88.6,168.8,0,4,111,21,13495.0
1,1,0,0,88.6,168.8,0,4,111,21,16500.0
2,2,0,2,94.5,171.2,5,6,154,19,16500.0
3,3,1,3,99.8,176.6,3,4,102,24,13950.0
4,4,1,3,99.4,176.6,3,5,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,14,3,97.3,171.7,3,4,85,27,7975.0
57,82,14,3,97.3,171.7,3,4,52,37,7995.0
58,86,14,3,97.3,171.7,3,4,100,26,9995.0
59,87,15,3,104.3,188.8,3,4,114,23,12940.0
60,88,15,4,104.3,188.8,3,4,114,23,13415.0

In [12]:
data.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               0
dtype: int64

In [13]:
x=data.drop('price',axis=1)
y=data['price']

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=55)

In [15]:
model=RandomForestRegressor(n_estimators=107,random_state=55)
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.8841540723780057

In [16]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [17]:
scaled_model=RandomForestRegressor(max_depth=139)

In [18]:
scaled_model.fit(x_train,y_train)
scaled_model.score(x_test,y_test)

0.8891776483682448